! Copyright (c) 2022 Bryan Paronto <bryan@cablecar.digital>

! Project:    Moonlight XResources
! Version:    0.1.0
! Repository: https://github.com/cablecardigital/moonlight-xresources
! License:    MIT

#define moonlight0 #161a2a
#define moonlight1 #191a2a
#define moonlight2 #1e2030
#define moonlight3 #222436
#define moonlight4 #282e5c
#define moonlight5 #c8d3f5
#define moonlight6 #b4c2f0
#define moonlight7 #4fd6be
#define moonlight8 #7af8ca
#define moonlight9 #82aaff
#define moonlight10 #4976eb
#define moonlight11 #ff5370
#define moonlight12 #ff995e
#define moonlight13 #ffc777
#define moonlight14 #c3e88d
#define moonlight15 #c099ff


*.foreground:   moonlight4
*.background:   moonlight0
*.cursorColor:  moonlight4
*fading: 35
*fadeColor: moonlight3

*.color0: moonlight1
*.color1: moonlight11
*.color2: moonlight14
*.color3: moonlight13
*.color4: moonlight9
*.color5: moonlight15
*.color6: moonlight8
*.color7: moonlight5
*.color8: moonlight3
*.color9: moonlight11
*.color10: moonlight14
*.color11: moonlight13
*.color12: moonlight9
*.color13: moonlight15
*.color14: moonlight7
*.color15: moonlight6
