window {
  margin: 0px;
  border: 5px solid #f5c2e7;
  background-color: #f5c2e7;
  border-radius: 16px;
  font-family: "Victor Mono Nerd Font";
}

#input {
  padding: 4px;
  margin: 4px;
  padding-left: 16px;
  border: none;
  color: #fff;
  font-weight: bold;
  background-color: #cba6f7;
  outline: none;
  border-radius: 16px;
  margin: 8px;
  margin-bottom: 2px;
}
#input:focus {
  border: 0px solid #11111b;
  margin-bottom: 0px;
}

#inner-box {
  margin: 4px;
  border: 8px solid #11111b;
  color: #ffffff;
  font-weight: bold;
  background-color: #11111b;
  border-radius: 15px;
}

#outer-box {
  margin: 0px;
  border: none;
  border-radius: 15px;
  background-color: #11111b;
}

#scroll {
  margin-top: 5px;
  border: none;
  border-radius: 15px;
  margin-bottom: 5px;
  /* background: rgb(255,255,255); */
}

#text:selected {
  color: #11111b;
  margin: 0px 0px;
  border: none;
  border-radius: 15px;
}

#entry {
  margin: 0px 0px;
  border: none;
  border-radius: 15px;
  background-color: transparent;
}

#entry:selected {
  margin: 0px 0px;
  padding: 0.5rem;
  border: none;
  border-radius: 15px;
  background: #a6e3a1;
}
